<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <br><%= @user.name %>
      </h1>
      <h5>Albums: <%= @user.albums.count %>
      </h5>
    </section>
    <%if current_user?(@user) %>
      <section class="album_form">
        <%= render 'shared/album_form' %>
      </section>
    <%end %>
  </aside>
  <div class="col-md-8">
    <% if @user.albums.any? %>
      <h3>Albums (<%= @user.albums.count %>)</h3>
      <ol class="albums">
        <%= render @albums %>
      </ol>
      <%= will_paginate @albums %>
    <% end %>
  </div>
</div>
